# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

#environement folder
.venv/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
chatwithnia/pyvenv.cfg
chatwithnia/Scripts/activate
chatwithnia/Scripts/activate.bat
chatwithnia/Scripts/Activate.ps1
chatwithnia/Scripts/csv2rdf.exe
chatwithnia/Scripts/deactivate.bat
chatwithnia/Scripts/debugpy-adapter.exe
chatwithnia/Scripts/debugpy.exe
chatwithnia/Scripts/distro.exe
chatwithnia/Scripts/dotenv.exe
chatwithnia/Scripts/f2py.exe
chatwithnia/Scripts/faker.exe
chatwithnia/Scripts/fastapi.exe
chatwithnia/Scripts/fitz
chatwithnia/Scripts/fonttools.exe
chatwithnia/Scripts/griffe.exe
chatwithnia/Scripts/guardrails.exe
chatwithnia/Scripts/hf.exe
chatwithnia/Scripts/httpx.exe
chatwithnia/Scripts/huggingface-cli.exe
chatwithnia/Scripts/ipython.exe
chatwithnia/Scripts/ipython3.exe
chatwithnia/Scripts/jsondiff
chatwithnia/Scripts/jsonpatch
chatwithnia/Scripts/jsonpointer
chatwithnia/Scripts/jsonschema.exe
chatwithnia/Scripts/jupyter-dejavu.exe
chatwithnia/Scripts/jupyter-execute.exe
chatwithnia/Scripts/jupyter-kernel.exe
chatwithnia/Scripts/jupyter-kernelspec.exe
chatwithnia/Scripts/jupyter-migrate.exe
chatwithnia/Scripts/jupyter-nbconvert.exe
chatwithnia/Scripts/jupyter-run.exe
chatwithnia/Scripts/jupyter-troubleshoot.exe
chatwithnia/Scripts/jupyter-trust.exe
chatwithnia/Scripts/jupyter.exe
chatwithnia/Scripts/litellm-proxy.exe
chatwithnia/Scripts/litellm.exe
chatwithnia/Scripts/log2design.py
chatwithnia/Scripts/markdown-it.exe
chatwithnia/Scripts/nib-conform.exe
chatwithnia/Scripts/nib-convert.exe
chatwithnia/Scripts/nib-dicomfs.exe
chatwithnia/Scripts/nib-diff.exe
chatwithnia/Scripts/nib-ls.exe
chatwithnia/Scripts/nib-nifti-dx.exe
chatwithnia/Scripts/nib-roi.exe
chatwithnia/Scripts/nib-stats.exe
chatwithnia/Scripts/nib-tck2trk.exe
chatwithnia/Scripts/nib-trk2tck.exe
chatwithnia/Scripts/nipypecli.exe
chatwithnia/Scripts/normalizer.exe
chatwithnia/Scripts/numpy-config.exe
chatwithnia/Scripts/openai.exe
chatwithnia/Scripts/parrec2nii.exe
chatwithnia/Scripts/pip.exe
chatwithnia/Scripts/pip3.12.exe
chatwithnia/Scripts/pip3.exe
chatwithnia/Scripts/pipreqs.exe
chatwithnia/Scripts/prov-compare.exe
chatwithnia/Scripts/prov-convert.exe
chatwithnia/Scripts/pyftmerge.exe
chatwithnia/Scripts/pyftsubset.exe
chatwithnia/Scripts/pygmentize.exe
chatwithnia/Scripts/pyrsa-decrypt.exe
chatwithnia/Scripts/pyrsa-encrypt.exe
chatwithnia/Scripts/pyrsa-keygen.exe
chatwithnia/Scripts/pyrsa-priv2pub.exe
chatwithnia/Scripts/pyrsa-sign.exe
chatwithnia/Scripts/pyrsa-verify.exe
chatwithnia/Scripts/pysemver.exe
chatwithnia/Scripts/python.exe
chatwithnia/Scripts/pythonw.exe
chatwithnia/Scripts/pywin32_postinstall.exe
chatwithnia/Scripts/pywin32_postinstall.py
chatwithnia/Scripts/pywin32_testall.exe
chatwithnia/Scripts/pywin32_testall.py
chatwithnia/Scripts/rdf2dot.exe
chatwithnia/Scripts/rdfgraphisomorphism.exe
chatwithnia/Scripts/rdfpipe.exe
chatwithnia/Scripts/rdfs2dot.exe
chatwithnia/Scripts/sessionmirror.py
chatwithnia/Scripts/tiny-agents.exe
chatwithnia/Scripts/tqdm.exe
chatwithnia/Scripts/ttx.exe
chatwithnia/Scripts/typer.exe
chatwithnia/Scripts/uvicorn.exe
chatwithnia/Scripts/watchfiles.exe
chatwithnia/Scripts/websockets.exe
chatwithnia/share/jupyter/kernels/python3/kernel.json
chatwithnia/share/jupyter/kernels/python3/logo-32x32.png
chatwithnia/share/jupyter/kernels/python3/logo-64x64.png
chatwithnia/share/jupyter/kernels/python3/logo-svg.svg
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/install.json
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/package.json
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/static/568.1e2faa2ba0bbe59c4780.js
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/static/747.67662283a5707eeb4d4c.js
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/static/remoteEntry.5cbb9d2323598fbda535.js
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/static/style.js
chatwithnia/share/jupyter/labextensions/jupyterlab_pygments/static/third-party-licenses.json
chatwithnia/share/jupyter/nbconvert/templates/asciidoc/conf.json
chatwithnia/share/jupyter/nbconvert/templates/asciidoc/index.asciidoc.j2
chatwithnia/share/jupyter/nbconvert/templates/base/cell_id_anchor.j2
chatwithnia/share/jupyter/nbconvert/templates/base/celltags.j2
chatwithnia/share/jupyter/nbconvert/templates/base/display_priority.j2
chatwithnia/share/jupyter/nbconvert/templates/base/jupyter_widgets.html.j2
chatwithnia/share/jupyter/nbconvert/templates/base/mathjax.html.j2
chatwithnia/share/jupyter/nbconvert/templates/base/null.j2
chatwithnia/share/jupyter/nbconvert/templates/basic/conf.json
chatwithnia/share/jupyter/nbconvert/templates/basic/index.html.j2
chatwithnia/share/jupyter/nbconvert/templates/classic/base.html.j2
chatwithnia/share/jupyter/nbconvert/templates/classic/conf.json
chatwithnia/share/jupyter/nbconvert/templates/classic/index.html.j2
chatwithnia/share/jupyter/nbconvert/templates/classic/static/style.css
chatwithnia/share/jupyter/nbconvert/templates/compatibility/display_priority.tpl
chatwithnia/share/jupyter/nbconvert/templates/compatibility/full.tpl
chatwithnia/share/jupyter/nbconvert/templates/lab/base.html.j2
chatwithnia/share/jupyter/nbconvert/templates/lab/conf.json
chatwithnia/share/jupyter/nbconvert/templates/lab/index.html.j2
chatwithnia/share/jupyter/nbconvert/templates/lab/mermaidjs.html.j2
chatwithnia/share/jupyter/nbconvert/templates/lab/static/index.css
chatwithnia/share/jupyter/nbconvert/templates/lab/static/theme-dark.css
chatwithnia/share/jupyter/nbconvert/templates/lab/static/theme-light.css
chatwithnia/share/jupyter/nbconvert/templates/latex/base.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/conf.json
chatwithnia/share/jupyter/nbconvert/templates/latex/display_priority.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/document_contents.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/index.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/null.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/report.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/style_bw_ipython.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/style_bw_python.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/style_ipython.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/style_jupyter.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/latex/style_python.tex.j2
chatwithnia/share/jupyter/nbconvert/templates/markdown/conf.json
chatwithnia/share/jupyter/nbconvert/templates/markdown/index.md.j2
chatwithnia/share/jupyter/nbconvert/templates/python/conf.json
chatwithnia/share/jupyter/nbconvert/templates/python/index.py.j2
chatwithnia/share/jupyter/nbconvert/templates/reveal/base.html.j2
chatwithnia/share/jupyter/nbconvert/templates/reveal/cellslidedata.j2
chatwithnia/share/jupyter/nbconvert/templates/reveal/conf.json
chatwithnia/share/jupyter/nbconvert/templates/reveal/index.html.j2
chatwithnia/share/jupyter/nbconvert/templates/reveal/static/custom_reveal.css
chatwithnia/share/jupyter/nbconvert/templates/rst/conf.json
chatwithnia/share/jupyter/nbconvert/templates/rst/index.rst.j2
chatwithnia/share/jupyter/nbconvert/templates/script/conf.json
chatwithnia/share/jupyter/nbconvert/templates/script/script.j2
chatwithnia/share/jupyter/nbconvert/templates/webpdf/conf.json
chatwithnia/share/jupyter/nbconvert/templates/webpdf/index.pdf.j2
chatwithnia/share/man/man1/ipython.1
chatwithnia/share/man/man1/ttx.1
